body {
  margin: 20px;
}
.breed-select {
  margin-bottom: 20px;
}

img {
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.span-temper,
.loader {
  font-weight: 700;
}
.error {
  font-weight: 700;
  color: red;
}
.title {
  margin-top: 0;
}

.hidden {
  display: none;
}
